# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/venv/
/report/
/allure-report/
/allure-results/
/test_file/user_token.csv
/test_file/shop_token.csv
/test_file/admin_token.csv
/test_file/user_list.csv
/test_file/stress_testing.csv
/test_file/batch_receive_coupon.csv
